### Forbid access _ raiburari

Options -Indexes
RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?route=$1 [QSA,L]


<FilesMatch "^.env$">
    Order allow,deny
    Deny from all
</FilesMatch>