* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #f0f0f0;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 16px;
  background-image: url("../image/Raiburari_background.png");
  background-position: center;
  background-repeat: repeat;
  background-color: #fff;
  opacity: 0.9;
}

/* ----------------------------------------------- Page Connexion ---------------------------------------------------- */

/* Titres */
.titre-form {
  font-size: 45px;
  text-align: center;
  margin: 20px;
}

.sign-up h2 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
}

/* Formulaires */
.formulaire {
  max-width: 600px;
  margin: 10% auto;
  padding: 10px;
  background-color: #FFFFFF;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border: #B22222 solid 1px;
}

.sign-in label,
.sign-up label {
  display: block;
  font-size: 20px;
  margin-bottom: 15px;
}

.sign-in input,
.sign-up input {
  display: block;
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  border: #B22222 solid 1 px;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.sign-in button,
.sign-up button {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 20px;
  background-color: #DC143C;
  color: #FFFFFF;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.sign-in button:hover,
.sign-up button:hover {
  color: #B22222;
  border: #B22222 solid 2px;
}
.sign-in button:hover,
.sign-up button:hover {
  background-color: #ffffff;
}

/* Lien "Pas de compte ? Inscris-toi !" */
#signup-btn {
  display: block;
  text-align: center;
  margin-top: 15px;
  font-size: 20px;
  color: #DC143C;
  text-decoration: underline;
}

/* Lien "Retour à la connexion" */
#back-to-login-link {
  display: block;
  text-align: center;
  margin: 25px;
  font-size: 20px;
  color: #DC143C;
  text-decoration: underline;
}

#back-to-login-link:hover {
  color: #B22222;
}

/* ----------------------------------------------- Fin Page Connexion ------------------------------------------- */
/* -------------------------------------------- Page Connexion Media Queries ------------------------------------ */

/* Media queries */
@media screen and (max-width: 767px) {
  .titre-form {
    font-size: 30px;
    margin: 10px;
  }

  .sign-up h2 {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .sign-in label,
  .sign-up label {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .sign-in input,
  .sign-up input {
    padding: 0.3rem;
    font-size: 0.9rem;
    margin-bottom: 0.7rem;
  }

  .sign-in button,
  .sign-up button {
    font-size: 16px;
    padding: 8px;
  }

  #signup-btn,
  #back-to-login-link {
    font-size: 16px;
  }
}
/* ---------------------------------------- Fin Page Connexion Media Queries ------------------------------------ */


/* ----------------------------------------------------- HEADER ------------------------------------------------- */
/* Styles pour le conteneur principal */
header {
  background-color: #ff5555; /* Fond rouge plus intense, ajustez la couleur selon vos préférences */
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Style du logo */
#logo img {
  width: 45%; /* Ajustez la taille selon vos préférences */
  height: auto;
}

/* Style de la navigation principale */
.main-nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
}

.main-nav ul li {
  margin-right: 20px;
}

.main-nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}

/* Style de la barre de recherche */
.search-container {
  flex-grow: 1;
  margin: 0 20px; /* Ajustez la marge selon vos préférences */
}

.search-container input[type="text"] {
  width: 30%;
  padding: 5px;
  border-radius: 5px;
  border: none;
  font-size: 14px;
}

.search-container button[type="submit"] {
  background-color: #fff;
  color: #ff5555; /* Couleur du texte rouge, ajustez la couleur selon vos préférences */
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

/* Style du profil */
#profile {
  display: flex;
  align-items: center;
}

#profile a {
  background-color: #fff;
  color: #ff5555; /* Couleur du texte rouge, ajustez la couleur selon vos préférences */
  padding: 5px 10px;
  border-radius: 5px;
  text-decoration: none;
  margin-left: 10px;
}

.logout-button {
  background-color: #fff;
  color: #ff5555; /* Couleur du texte rouge, ajustez la couleur selon vos préférences */
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin-left: 10px;
}

/* ----------------------------------------------------- FIN HEADER ------------------------------------------------- */


/* -------------------------------------------------- FOOTER --------------------------------------------------*/ 

footer {
  background-color: #E74C3C;
  color: #fff;
  padding: 40px 50px;
  margin-top: 100px;
}
  
.footer-links {
  display: flex;
  flex-direction: column;
}
  
.footer-links a {
  color: #fff;
  text-decoration: none;
  margin-right: 20px;
  padding-top: 5px;
}
  
.footer-center {
  text-align: center;
}

/* ---------------------------------------------- FIN FOOTER --------------------------------------------------*/ 

/* ---------------------------------------------- Section Manga --------------------------------------------------*/ 
#highlighted-manga h2 {
  font-family: 'Roboto Slab', serif;
  font-size: 76px;
  margin-bottom: 25px;
  text-align: center;
  margin-top: 100px;
  color: #2C3E50;
}

.manga-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.manga-card {
  position: relative;
  display: inline-block;
  width: 20%;
  margin: 20px;
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease;
}


.manga-card img {
  width: 100%;
  min-height: 50%;
  max-height: 50%;
  object-fit: cover;
  transition: all 0.3s ease;
  margin: 0 auto;
}

.manga-card h3 {
  font-family: 'Roboto Slab', serif;
  font-size: 24px;
  margin: 10px;
  color: #34495E;
}

.manga-card p {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  margin: 10px;
  color: #7F8C8D;
}

.manga-card a {
  display: block;
  background-color: #E74C3C;
  color: #fff;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  transition: all 0.3s ease;
  margin: 5px;
  border-radius: 4px;
}

.follow-button,
.details-button {
  display: inline-block;
  background-color: #E74C3C;
  color: #fff;
  text-align: center;
  padding: 20px;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  width: 48%;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.follow-button:hover,
.details-button:hover {
  background-color: #ffffff;
  border: 2px solid #E74C3C;
  color: #E74C3C;
}

.manga-buttons {
  display: flex;
  justify-content: space-between;
}

/* ------------------------------------------------- POP-UP Section Manga  --------------------------------------------- */ 
                                                            /*-*/
/* ------------------------------------------------- POP-UP Section Manga  --------------------------------------------- */ 

/* ------------------------------------------------- FIN Section Manga  --------------------------------------------- */ 

/* ------------------------------------------------- DÉBUT Section Manga PROFIL --------------------------------------------- */
#highlighted-manga h2 {
  font-family: 'Roboto Slab', serif;
  font-size: 76px;
  margin-bottom: 25px;
  text-align: center;
  margin-top: 100px;
  color: #2C3E50;
}

.manga-grid-alt {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.manga-card-alt {
  position: relative;
  display: inline-block;
  width: 20%;
  margin: 20px;
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease;
}



.manga-card-alt img {
  width: 100%;
  min-height: 50%;
  max-height: 50%;
  object-fit: cover;
  transition: all 0.3s ease;
  margin: 0 auto;
}


.manga-card-alt h3 {
  font-family: 'Roboto Slab', serif;
  font-size: 24px;
  margin: 10px;
  color: #34495E;
}

.manga-card-alt p {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  margin: 10px;
  color: #7F8C8D;
}

.manga-card-alt a {
  display: block;
  background-color: #E74C3C;
  color: #fff;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  transition: all 0.3s ease;
  margin: 5px;
  border-radius: 4px;
}

.unfollow-button-alt,
.details-button-alt {
  display: inline-block;
  background-color: #E74C3C;
  color: #fff;
  text-align: center;
  padding: 20px;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  width: 48%;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.unfollow-button-alt:hover,
.details-button-alt:hover {
  background-color: #ffffff;
  border: 2px solid #E74C3C;
  color: #E74C3C;
}

.manga-buttons-alt {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  margin-left: -10px;
}




/* ------------------------------------------------- FIN Section Manga PROFIL --------------------------------------------- */



/* ------------------------------------------ DEBUT page profil Utilisateur --------------------------------------- */

.profil-container {
  display: flex;
}

.profil-section {
  display: flex;
  flex-direction: column;
  padding: 40px 0;
  background-color: #f8f8f8;
  padding-top: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}
.profil-section > * {
  padding: 40 40 40; 
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 20px;
}

.profil-image {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  overflow: hidden;
}

.profil-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profil-info {
  text-align: left;
}

.profil-info h1 {
  font-family: 'Roboto Slab', serif;
  font-size: 36px;
  margin-bottom: 20px;
  color: #2C3E50;
}

.profil-info p {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  color: #7F8C8D;
  margin-bottom: 20px;
}

.profil-modifier {
  background-color: #E74C3C;
  color: #fff;
  text-align: center;
  padding: 10px 20px;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.profil-modifier:hover {
  background-color: #34495E;
  color: #E74C3C;
  border: 2px solid #E74C3C;
}

/* ------------------------------------------ FIN page profil Utilisateur --------------------------------------- */


/* --------------------------------------- DEBUT page modifier profil Utilisateur ------------------------------ */

.manga-theme .formulaire-modifier {
  background-color: #2C3E50;
  padding: 20px;
  border: 1px solid #34495E;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  font-family: 'Roboto', sans-serif;
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  margin-top: 100px;
}

.manga-theme .fond-sombre h1 {
  font-family: 'Roboto Slab', serif;
  font-size: 24px;
  color: #E74C3C;
  margin-bottom: 20px;
  text-align: center;
}

.manga-theme .formulaire-modifier label {
  display: block;
  font-size: 14px;
  color: #ECF0F1;
  margin-bottom: 5px;
}
.manga-theme p{
  color: #ffffff;
  margin: 10px;
}
.manga-theme .formulaire-modifier input {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 15px;
  outline: none;
}

.manga-theme .formulaire-modifier input:focus {
  border-color: #E74C3C;
}

.manga-theme .formulaire-modifier input[type="submit"] {
  background-color: #E74C3C;
  color: white;
  font-weight: bold;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
}

.manga-theme .formulaire-modifier input[type="submit"]:hover {
  background-color: #34495E;
}

.manga-theme a {
  color: #E74C3C;
}

.manga-theme a:hover {
  color: #34495E;
}

.manga-theme button {
  background-color: #E74C3C;
  color: #fff;
  border: none;
  cursor: pointer;
}

.manga-theme button:hover {
  background-color: #34495E;
}

.manga-theme .delete-profile-form {
  margin-top: 20px;
}


/* --------------------------------------- FIN page modifier profil Utilisateur ------------------------------ */


/* --------------------------------------------- DEBUT page Detail Manga ------------------------------------- */

.manga-details-container {
  background-color: #ffffff;
  padding: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  margin: auto;

}


.manga-details-container .manga-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.manga-details-container .manga-title {
  font-size: 5em; /* Vous pouvez changer la taille comme vous voulez */
  text-align: center;
  margin-bottom: 20px;
}

.manga-details-container .manga-info-container .manga-details {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  width: 100%;
}

.manga-details-container .manga-info-container .manga-details .manga-image {
  width: auto;
  height: auto;
  margin-right: 20px;
}

.manga-details-container .manga-info-container .manga-details .manga-info {
  flex: 1;
}

.manga-details-container .manga-synopsis-container {
  width: 100%;
  text-align: center;
}

.manga-details-container .manga-info .manga-date-title,
.manga-details-container .manga-info .manga-genres-title,
.manga-details-container .manga-info .manga-authors-title {
  font-weight: bold;
  margin: 20px 0; /* Augmentez les valeurs pour plus d'espace */
}

.manga-details-container .manga-info .manga-genres-list li,
.manga-details-container .manga-info .manga-authors-list li {
  margin-bottom: 10px; /* Augmentez la valeur pour plus d'espace */
}

.manga-details-container .manga-info {
  padding: 20px; /* Ajoutez de l'espace autour de tout le bloc d'informations */
}



/* --------------------------------------------------------------SLIDER ---------------------------------------------------------------*/
.additional-images-container {
  background-color: #ffffff;
  padding: 20px;
}

.slider-details {
  position: relative;
}

.slider {
  display: flex;
  transition: transform 0.3s;
}

.slider-item {
  flex: 0 0 auto;
  width: calc(100% / 4);
  margin-right: 10px;
}

.slider-item img {
  width: 80%;
  height: auto;
}

.slider-wrapper {
  overflow: hidden;
  margin: 0 10%;
}


.slider-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  font-size: 20px;
  border: none;
  background-color: rgba(255, 255, 255, 0.5); 
  color: #000;
  cursor: pointer;
  z-index: 10;
}


.prev-button {
  left: 10px;
}

.next-button {
  right: 10px;
}

button[disabled] {
  display: none;
}

/* --------------------------------------------- FIN page Detail Manga ------------------------------------- */
/* --------------------------------------------- page Detail Manga responsive------------------------------------- */
/* Responsive pour une largeur maximale de 767px */
@media screen and (max-width: 767px) {
  .manga-details-container .manga-title {
    font-size: 3em;
  }

  .slider-item {
    width: calc(100% / 2);
  }

  .additional-images-container {
    display: none;
  }
}



/* --------------------------------------------- DEBUT page Contact ------------------------------------------ */


/* Conteneur principal */
.container-manga {
  max-width: 700px;
  margin: 0 auto;
  padding: 30px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Titre de la page */
.page-title {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

/* Style du formulaire */
.contact-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

/* Style des champs de saisie */
.form-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  resize: vertical;
}

.form-input[type="textarea"] {
  height: 150px;
}

/* Style des labels */
.form-label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

/* Style du bouton de soumission */
.form-submit {
  grid-column: span 2;
  padding: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  text-transform: uppercase;
}

.form-submit:hover {
  background-color: #555;
}











/* Ajoutez les styles pour le bloc de connexion */
#login-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  display: none; /* Cache le bloc de connexion par défaut */
  z-index: 1000;
}

#close-login-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 24px;
  border: none;
  background: none;
  color: white;
  cursor: pointer;
}




/* -------------------------Bloc hoover details manga ----------------------------- */

.main-manga-author, .main-manga-synopsis {
  display: none;
}


.manga-card:hover .manga-popup {
  display: block;
}











/* ****************************************** SECTION NOTE PERSONNEL **********************/

.container-note {
  border: 2px solid #ddd;
  padding: 20px;
  border-radius: 5px;
  overflow: auto;
  max-width: 400px;
  max-height: 400px;

}

.note-section {
  flex-direction: column;
  justify-content: start;
  width: 100%;
  margin-bottom: 40px;
}

.note-section.active {
  display: flex;
}

.note-header {
  margin-bottom: 20px;
}

.note-input {
  flex-grow: 1;
  margin-bottom: 20px;
  padding: 10px;
  box-sizing: border-box;
  border: 2px solid #E74C3C;
  border-radius: 5px;
  resize: none;
  height: 200px; 
}

.note-button {
  background-color: #E74C3C;
  color: rgb(255, 255, 255);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  align-self: flex-start;
}

.note-button:hover {
  background-color: #ffffff;
  color: #E74C3C;
  border: 2px solid;
  border-color: #E74C3C;
}

#note-text {
  border: 2px solid #E74C3C;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
}

#display-note-block:not(.active),
#edit-note-block:not(.active) {
  display: none;
}

.note-section:not(.active) {
  display: none;
}

/* ******************************************FIN SECTION NOTE PERSONNEL **********************/

/* ****************************************** MISE EN AVANT  **********************/

.container-mise-en-avant {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
}

.text-center {
  text-align: center;
}

/* Nouveaux styles pour les boutons */
.button {
  background-color: red;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

/* Styles spécifiques pour la vue admin_mise_en_avant_views.php */
.container-mise-en-avant form {
  margin-bottom: 20px;
}

.manga {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 20px;
}

.manga h3 {
  margin-bottom: 10px;
}

.manga p {
  margin-bottom: 15px;
}

/* Styles spécifiques pour les boutons dans la vue admin_mise_en_avant_views.php */
.button-container {
  display: flex;
  justify-content: flex-end;
}

.button-container .button {
  margin-left: 10px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fff;
  border-radius: 5px;
  margin: 20% auto;
  padding: 20px;
  width: 300px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover {
  color: #000;
}

